<!DOCTYPE html>

<html lang="en">

<head>
     <meta charset="UTF-8">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=49ba2530-8257-44cb-b1cb-a19fb39e046c"
            type="text/javascript"></script>

    <title>Поиск остановок</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!--
        Укажите свой API-ключ. Тестовый ключ НЕ БУДЕТ работать на других сайтах.
        Получить ключ можно в Кабинете разработчика: https://developer.tech.yandex.ru/keys/
    -->
    <style>
        html, body, #map {
            width: 100%; height: 100%; padding: 0; margin: 0;
        }

    </style>

</head>

<body>
<script src="http://www.brodim.ru/bus_map_js?points={{dots}}"></script>
<div id="map"></div>
</body>

</html>